.git
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.pyc
*.pyo
*.egg-info
.DS_Store
uv.lock

data/cases/**
!data/cases/
!data/cases/.gitkeep
data/exports/**
!data/exports/
!data/exports/.gitkeep

deployment/.env
deployment/**/.env
deployment/**/tmp
deployment/**/cache

